<div id="instagram" class="picture container">

<%= render partial: "food_results", locals: {results: @sorted_results, food_tags: @food_tags, filter_tags: @filter_tags } %>
</div>

<script>
$('body').addClass('background_image_2');
</script>