body {
  background: url(/assets/food.png) no-repeat center center fixed;
  background-size: 100%;
}

#input {
  display: inline;
}

.one {
  background-color: green;
}

/*body {
  text-align: center;
}*/

#instagram img {
    max-width: 100%;
    height: auto;
    
}

#food_pic {
  border: solid 30px black;
  border-radius: 20px;
}

form {
  display: inline;
}

.info {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 30px;
  padding: 0 20px;
}

#profile_pic {
  width: 60px;
  border-radius: 10px;
  float: right;
  margin-bottom: 20px;
}

#username {
  vertical-align: bottom;
}

