
body {
  background: url(/assets/food.png) no-repeat center center fixed;
  /*background-size: 100%;*/
}


body {
  z-index: 2;
}
.background_image {
  background: url(/assets/food.png) no-repeat center center fixed;
  /*background-size: 100%;*/
  /*position: fixed; 
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%; */
}


.background_image_1 {
  background: url(/assets/food2.jpg) no-repeat center center fixed;
  /*background-size: 100%;*/
}

.background_image_2 {
  /* some other image*/
  background: url(/assets/food3.jpg) no-repeat center center fixed;
  /*background-size: 100%;*/
}



.container {
  background: transparent;
}

#instagram {
  margin-top: 40px;
  margin-bottom: 300px;
}

#faddy {
  font-family: 'Chewy', cursive;
  text-align: center;
  font-size: 120px;
  padding-top: 40px;
  padding-bottom: 80px;
  letter-spacing: 6px;
}

#subheading {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  margin-bottom: 40px;
  margin-top: -20px;
}

#input {
  display: inline;
  width: 160px;
  height: 30px;
  border-radius: 10px;
  font-size: 18px;
  padding-left:10px;
  color: #333333;

}

#submit {
  height: 45px;
  width: 100px;
  border-radius: 10px;
  font-size: 20px;
  font-family: 'Chewy', cursive;
  letter-spacing: 1.5px;
}

.one {
  background-color: green;
}

/*body {
  text-align: center;
}*/


#food_pic {
  border: solid 30px #000000;
  border-radius: 20px;
  max-width: 100%;
  height: auto;
  margin-bottom: 40px;
}

form {
  display: inline;
}

.info {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 30px;
  padding: 15px 20px;
}


#profile_pic {
  width: 60px;
  border-radius: 10px;
  float: right;
  /*margin-bottom: px;*/
}

#username {
  vertical-align: bottom;
  font-size: 18px;
}

#username, #location {
  font-family: 'Droid Serif', serif;
}

#location {
  letter-spacing: 1px;
}

#caption, #likes, #tags {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
}

/*
#desserts_wrapper {
  background: url(/assets/food2.jpg) no-repeat center center fixed;
  background-size: 100%;
  width: 100%;
  height: 100%;
}
*/
/*
#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
  z-index: 1;
}
*/
