<!DOCTYPE html>
<html>
<head>
  <title>Faddy</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

  <link href='http://fonts.googleapis.com/css?family=Chewy|Droid+Serif|Raleway|Permanent+Marker' rel='stylesheet' type='text/css'>
</head>
<body>
  
  <div class="container">
    <div class="row"></div>
    <h1 id="faddy">Faddy</h1>
    <h3 id="subheading"> Find trending food items anywhere! </h3>
  <div class="form_wrapper offset-by-one">
  

  <form method="get" action="/food">
  <input id="input" type="text" name="location" placeholder="Bangkok, Thailand" autofocus>
  <input id="submit" type="submit" value="FOOD">
</form>
<form method="get" action="/desserts">
  <input id="input" type="text" name="location" placeholder="Times Square">
  <input id="submit" type="submit" value="DESSERT">
</form>
<form method="get" action="/drinks">
  <input id="input" type="text" name="location" placeholder="Eiffel Tower">
  <input id="submit" type="submit" value="DRINKS">
</form>
  </div>

</div>
<%= yield %>

</body>
</html>