<!DOCTYPE html>
<html>
<head>
  <title>Faddy</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
  <div class="one column">|1 column|</div>
  <div class="one column">|2 column|</div>
  <div class="one column">|3 column|</div>
  <div class="one column">|4 column|</div>
  <div class="one column">|5 column|</div>
  <div class="one column">|6 column|</div>
  <div class="one column">|7 column|</div>
  <div class="one column">|8 column|</div>
  <div class="one column">|9 column|</div>
  <div class="one column">|10 column|</div>
  <div class="one column">|11 column|</div>
  <div class="one column">|12 column|</div>
  <div class="one column">|13 column|</div>
  <div class="one column">|14 column|</div>
  <div class="one column">|15 column|</div>
  <div class="one column">|16 column|</div>
  <div class="row"></div>
  <div class="form_wrapper">
  

  <form method="get" action="/food">
  <input id="input" type="text" name="location" placeholder="Enter Location" autofocus>
  <input type="submit" value="FOOD">
</form>
<form method="get" action="/desserts">
  <input id="input" type="text" name="location" placeholder="Enter Location">
  <input type="submit" value="DESSERT">
</form>
<form method="get" action="/drinks">
  <input id="input" type="text" name="location" placeholder="Enter Location">
  <input type="submit" value="DRINKS">
</form>
  </div>

</div>
<%= yield %>

</body>
</html>